<%- include ('partials/header') %> 

    <%- include ('partials/nav') %> 
    
    <!-- USING JUMBOTRON -->
    <section class="jumbotron my-jumbotron text-center">
      <h1>MAKE SOME EDITS</h1>
      <h4 class="">🔧</h4>
      <hr class="my-4" />
    </section>

    <section class = 'container-fluid my-container sightings-form'>

      <div class = 'row my-row justify-content-center'></div>
        <form action="/sighting/<%= sightingIndex.index %>/edit?_method=PUT" method="POST" class="my-form ">
          
          <div class="form-group">
            <div class="row form-row">
              <div class="col form-col">
                <label for="city">City:</label>
                <input type="text" id="city" name="city" class="form-control" value="<%= sightingInfo.sighting.city %>">
              </div>
              <div class="col form-col">
                <label for="state">State:</label>
                <input type="text" id="state" name="state" class="form-control" value="<%= sightingInfo.sighting.state %>">
              </div>
            </div>
            <div class="row form-row">
              <div class="col form-col">
                <label for="sighting_date">Date of sighting:</label>
                <input type="date" id="sighting_date" name="sighting_date" class="form-control" value="<%= sightingInfo.sighting.sighting_date %>" max= <%= formMaxDate.maxDate %>>
              </div>
              <div class="col form-col">
                <label for="sighting_time">Time of sighting:</label>
                <input type="time" id="sighting_time" name="sighting_time" class="form-control" value="<%= sightingInfo.sighting.sighting_time %>">
              </div>
            </div>
            <div class="row form-row">
              <div class="col form-col">
                <label for="shape">Shape:</label>
                <input type="text" id="shape" name="shape" class="form-control" value="<%= sightingInfo.sighting.shape %>">
              </div>
              <div class="col form-col">
                <label for="duration">Duration:</label>
                <input type="text" id="duration" name="duration" class="form-control" value="<%= sightingInfo.sighting.duration %>">
              </div>
            </div>
          </div>

          <div class="form-group form-medium">
            <label for="summary">Summary of event:</label>
            <textarea class="form-control" rows="5" id="summary" name="summary"><%= sightingInfo.sighting.summary %></textarea>
          </div>

          <div class="form-group form-medium">
            <label for="text">Description:</label>
            <textarea class="form-control form-input-description" rows="8" id="text" name="text"><%= sightingInfo.sighting.text %></textarea>
          </div>
      
          <button type="submit" class="btn btn-primary btn-submit">Submit Changes</button>
        </form>
      </div>

      <div class = 'row my-row justify-content-center'>
        <a href="/" >Back to homepage</a>
      </div>
    </section>

<%- include ('partials/footer') %> 