<%- include ('partials/header') %> 

    <%- include ('partials/nav') %>

    <!-- USING JUMBOTRON -->
    <section class="jumbotron my-jumbotron text-center">
      <h4 class="">SIGHTINGS BY SHAPE</h4>
      <p>⚫🔷🔺🟪</p>
    </section>    

    <!-- USING TABLE -->
    <section class = "sightings-list">
      <!-- <h3 class = "text-center">List of all sightings</h3> -->
      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Shape</th>
            <th scope="col">#Sightings</th>
            <th scope="col">Btn</th>
          </tr>
        </thead>
        <tbody>
        <!-- Create new element for each sighting -->
        <% sightingsGroupedByShapeArr.forEach(([shape,arr],i) => { %>
          <tr>
            <th scope="row"><%= i+1 %> </th>
            <td><%= shape%></td>
            <td><%= arr.length%></td>
            <td>
              <a class="btn btn-primary" href="/shapes/<%= shape%>" role="button">View</a>
            </td>
          </tr>
        <% }); %>          
        </tbody>
      </table>

      <div class = 'row my-row justify-content-center'>
        <a href="/" >Back to homepage</a>
      </div>
    </section>

<%- include ('partials/footer') %> 